@import './header.scss';
@import './main.scss';

$primary-text :black;


h1{
    font-size: 8rem;

    @media (max-width: 768px) {
       font-size: 2.5rem !important;
    }

    @media (max-width: 1199.98px) { 
        font-size: 4rem;
     }
}

h6{
    font-size: 3rem;

    @media (max-width: 768px) {
        font-size: 2rem !important;
     }
}

a{
    color: $primary-text;

    @media (max-width: 767.98px) {
        font-size: 1rem;
    }
}