
.wrap-header{
    .navbar-brand{
        margin-right: 0;

        img{
            width: 2rem;
            height: 2rem;
            display: inline-block;
            margin-right: 0.5rem;
            vertical-align: top!important;
            
        }
    }
}