
.wrap{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        border: 1px solid transparent;

        img{
                width: 15rem;
                background: contain;
        }
        
        img.load{
                width: 2rem;
                margin: 1rem 0;
        }

}
