.warp-profile{
    width: 100%;
    display: flex;
    justify-content: center;

    .profile{
        width: 95%;
        display: flex;
        justify-content: flex-end;
        border-radius: 2rem;
        background-color: #f5e9ff;
        background-image: linear-gradient(to right top,#ffe8fc,#feeafd,#f6e9ff, #f5e9ff,#f1e6ff,  );

        .warp-text{
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 4rem 4rem;
        }

        .warp-img{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            margin: 0 1rem;

                img{
                width: 35rem;
                height: 30rem;

                @media (max-width: 769px !important) {
                width: 30rem;
                height: 25rem;
                }
            
                @media (max-width: 575.98px !important) {
                width: 20rem;
                height: 15rem;
                }
            }
        }
    }
}

.warp-Dashboard{
    width: 100%;
    display: flex;
}
   