
.wrap{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        border: 1px solid transparent;
        background-color: #FCF3CF;

        img{
             width: 50%;
             background: contain;
             border-radius: .25rem;
        }

}
